..homeContainer{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    margin-top: 80px; 
    align-items: center;
    padding: 10px;
  }
  
  
  /* PRODUCT MODULE START */
  
  .product_page{
    width: 90vw;
    padding-left: 10px;
    margin-right: 10px;
    text-align: center;
    margin: 0 auto;
  }
  
  .product_page .search_product_field{
    right: 300px;
    position: relative;
    top:0px;
    border: grey solid ;
    background-image: url('../assets/images/chat/search.png'); 
    background-size: 10px 10px;
    background-position: 15px center; 
    background-repeat: no-repeat;
    padding-left: 40px;
  }
  
  .product_page .sort_product_field{
    right: -350px;
    position: relative;
    top: -10px;
  }
  
  .product_card{
    font-weight: 600;
    float: left;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 20px;
    color: #000000;
    margin-left: 55px;
    height: 300px;
    width: 280px;
    background-image: linear-gradient(rgb(241, 157, 171),rgb(160, 124, 124));
  }
  .product_card:hover{
    box-shadow: 10px 10px 10px gray;
  }
  
  .product_card .product_stars{
    float: left;
    margin-left: 5px;
    margin-top: 5px;
  }
  
  .product_card .product_category{
    text-align: right;
    padding-right: 10px;
    font-variant: small-caps;
    font-weight: 400;
  }
  
  .product_card .view_product_btn{
    background-color: #4f0d1c;
    border-radius: 10px;
    padding: 10px;
    color: #f8f5f5;
    font-family: "Philosopher";
  }
  
  .product_card .view_product_btn:hover{
    color: #f8f5f5; 
     background-color: #b92f54;
  }
  
  .view_product_page{
     overflow-x: hidden;
  }
  
  .view_product_page img{
    margin-right: 15px;
    float: left;
    margin-left: 10px;
  }
  
  .view_product_page .product_description{
    width: 500px; 
    max-width: 500px; 
    display: inline-block;
    box-sizing: border-box; 
    padding: 10px; 
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    margin: 10px;  
    font-family: "cursive";
   text-align: justify;
  
  }
  
  .view_product_page .product_name{
    font-size: larger;
    font-weight: 700;
  }
  
  .view_product_page .product_price{
    font-size: x-large;
    font-family: "cursive";
    font-weight: 600;
    color: #f24d4d;
  }
  
  .view_product_page .review_separator_line{
    height: 0px;
    border: none;
    border-top: 3px solid black;
  }
  
  .view_product_page .review_section{
    padding-left: 25px;
  }
  
  .view_product_page .review_section .review_dialog{
    float: right;
    margin-right: 10px;
  }
  
  .review_textarea{
    color: #000000ce;
    text-align: justify;
    padding:5px
  }
  
  .sort_review_field{
    float: right;
    position: relative;
    top: -6px;
  }

  .view_product_page .review_section .review_container{
      float: left;
      width: 300px; 
      height: 200px;
      overflow-y: auto;
      padding: 10px; 
      background-color: #f5f5f5; 
      border-radius: 5px;
      border: solid #716666;
      margin: 14px;
      font-family: "cursive";
      text-align: justify;

      word-wrap: break-word; 
      overflow-wrap: break-word; 
     
  }
  /* PRODUCT MODULE END */